{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container">
  <h2>{% trans "Image List" %}</h2>
  {% if images %}
    <form method="post">
      {% csrf_token %}
      <table class="table">
        <thead>
          <tr>
            <th><input type="checkbox" id="select-all"></th>
            <th>{% trans "Image" %}</th>
            <th>{% trans "Object Class" %}</th>
            <th>{% trans "Upload Date" %}</th>
            <th><button type="submit" name="delete_selected" class="btn btn-danger">{% trans "Delete Selected" %}</button></th>
          </tr>
        </thead>
        <tbody>
          {% for image in images %}
            <tr>
              <td><input type="checkbox" name="images" value="{{ image.id }}" class="select-item"></td>
              <td><img src="{{ image.image.url }}" alt="{% trans "Image" %}" width="100" class="zoomable"></td>
              <td>{{ image.object_class }}</td>
              <td>{{ image.uploaded_at }}</td>
              <td>
                <button type="submit" name="delete_single" value="{{ image.id }}" class="btn btn-danger">{% trans "Delete Image" %}</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% else %}
    <p>{% trans "No images available." %}</p>
  {% endif %}
</div>
{% endblock %}