{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">{% trans "Upload Frame Sequences" %}</h2>
  <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row g-3">
      <!-- Sequence Features -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="features" class="form-label">{% trans "Sequence Features" %}</label>
          {{ form.features|add_class:"form-control" }}
        </div>
      </div>
      
      <!-- Procedure -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="procedure" class="form-label">{% trans "Exam" %}</label>
          {{ form.procedure|add_class:"form-select" }}
        </div>
      </div>
      
      <!-- Cropping fields -->
      <div class="col-md-3">
        <div class="form-group">
          <label for="left_crop" class="form-label">{% trans "Left Crop" %}</label>
          {{ form.left_crop|add_class:"form-control" }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="right_crop" class="form-label">{% trans "Right Crop" %}</label>
          {{ form.right_crop|add_class:"form-control" }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="top_crop" class="form-label">{% trans "Top Crop" %}</label>
          {{ form.top_crop|add_class:"form-control" }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="bottom_crop" class="form-label">{% trans "Bottom Crop" %}</label>
          {{ form.bottom_crop|add_class:"form-control" }}
        </div>
      </div>
      <!-- Upload Images -->
      <div class="col-12">
        <div class="form-group">
          <label for="images" class="form-label">{% trans "Upload Images" %}</label>
          <input type="file" name="images" id="images" multiple class="form-control">
        </div>
      </div>
    </div>
    
    <!-- Submit Button -->
    <div class="d-flex justify-content-end mt-4">
      <button type="submit" class="btn btn-primary btn-lg">{% trans "Upload" %}</button>
    </div>
  </form>
</div>
{% endblock %}
